<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-2">Title</th>
            <th scope="col" class="col-5">Description</th>
            <th scope="col" class="col-2">Price</th>
            <th scope="col" class="col-2"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency:'EUR' }}</td>
            <td>
                <button class="btn btn-danger" (click)="removeProduct(product.id)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>