<app-header></app-header>

<div class="cart-container">
    <div class="w-50 bg-white shadow" style="border-radius: 2em;">

        <div *ngIf="items.length > 0">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="col-1">Quantity</th>
                        <th scope="col" class="col-5">Product</th>
                        <th scope="col" class="col-2">Price</th>
                        <th scope="col" class="col-2">Subtotal</th>
                        <th scope="col" class="col-2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>
                            <input #quantity class="form-control text-center" type="number" min="0" max="99" (click)="updateItemQuantity(item, quantity)" [value]="item.quantity">
                        </td>
    
                        <td>{{ item.title }}</td>
                        <td>{{ item.price | currency:'EUR' }}</td>
                        <td>{{ item.getTotalPrice() | currency:'EUR' }}</td>
                        <td>
                            <button class="btn btn-danger" (click)="removeItem(item.id)">Remove</button>
                        </td>
                    </tr>

                    <br><br>
                    
                    <tr>
                        <td class="text-right font-weight-bold" colspan="3">Totale:</td>
                        <td colspan="2">{{ totalPrice | currency:'EUR' }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold" colspan="3">Numero prodotti:</td>
                        <td colspan="2">{{ totalProduct }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold" colspan="3">Numero articoli:</td>
                        <td colspan="2">{{ totalItems }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="btn-group">
                <button routerLink="/home" class="btn btn-primary">
                    Continue Shopping
                </button>
    
                <button routerLink="/checkout" class="btn btn-success">
                    Checkout
                </button>
            </div>
        </div>

        <div *ngIf="items.length <= 0">
            <div class="w-100 p-5 font-weight-bold text-center">
                (cart empty)
            </div>
            <div class="btn-group">
                <button routerLink="/home" class="btn btn-primary">
                    Continue Shopping
                </button>
    
                <button class="btn btn-success" disabled>
                    Checkout
                </button>
            </div>
        </div>

    </div>
</div>